/* Layout general */
.layout{
  display: grid;
  grid-template-columns: 220px 1fr;
  height: 100vh;
  background: #f4f4f4;
}

/* Sidebar */
.sidebar{
  background: #ff4d4d;
  margin: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
}

/* Main */
.main{
  padding: 20px;
}

/* Header */
.header{
  background: #ff4d4d;
  height: 150px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  margin-bottom: 30px;
}

/* Cards container */
.card-section{
  display: flex;
  gap: 25px;
}

/* Card */
.card{
  width: 180px;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #ccc;
}

/* Parte superior */
.card-top{
  background: #ff4d4d;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

/* Parte inferior */
.card-bottom{
  background: #ffffff;
  text-align: center;
  padding: 12px;
}