*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background:#f2f2f2;
  font-family:sans-serif;
}

/* LAYOUT */
.layout{
  display:grid;
  grid-template-columns:220px 1fr;
  gap:25px;
  padding:25px;
  min-height:100vh;
}

/* SIDEBAR */
.sidebar{
  background:#dcdcdc;
  border-radius:12px;
  display:flex;
  justify-content:center;
  align-items:center;
  font-weight:bold;
}

/* CONTENIDO */
.main{
  display:flex;
  flex-direction:column;
  gap:300px;
}

/* HEADER */
.header{
  background:#e2e2e2;
  height:130px;
  border-radius:12px;
  display:flex;
  justify-content:center;
  align-items:center;
  border:1px solid #cfcfcf;
  font-weight:bold;
}

/* CONTENEDOR CARDS */
.card-section{
  display:grid;
  grid-template-columns:repeat(3, 1fr);
  gap:25px;
}

/* CARD */
.card{
  border-radius:10px;
  overflow:hidden;
  border:1px solid #cfcfcf;
  background:white;
}

/* PARTE SUPERIOR */
.card-top{
  background:#c6ccd2;
  height:90px;
  display:flex;
  justify-content:center;
  align-items:center;
}

/* PARTE INFERIOR */
.card-bottom{
  background:#eee;
  text-align:center;
  padding:10px;
  font-size:14px;
}